html {
  height: 100%;
  width: 100%;
}

:root {
  --clr-1: #f4f4f4;
  --clr-3: #fdc40b;
  --clr-4: #624db0;
  --clr-5: #3e246e;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body p {
  font-weight: 270;
  font-family: "Open sans", sans-serif;
}

/* font */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* highlight */
mark {
  background-color: var(--clr-3);
  margin: 3px;
}

mark2 {
  background-color: var(--clr-4);
  margin: 3px;
}

a {
  color: black;
  text-align: center;
  text-decoration-color: black;
}

li {
  margin: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5%;
  top: 0;
  left: 0;
}

a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: var(--clr-4);
}

/* selected link */
a:active {
  color: black;
}

.header {
  text-align: center;
  background-color: white;
  padding: 1%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.header img {
  z-index: 4;
  width: 50px;
  border-radius: 50%;
  margin: auto;
  display: block;
  left: 4%;
  position: fixed;
}

.bottom-left {
  z-index: 2;
  font-family: "Roboto";
  position: absolute;
  left: 3%;
  top: 55%;
  bottom: 45%;
  color: white;
  font-size: 45px;
  padding: 10px;
  border-radius: 5px;
}

.banner {
  z-index: 1;
  text-align: center;
  background-color: white;
}

.banner img {
  width: 100%;
  max-height: 550px;
  /* Adjusted for better fit */
  object-fit: cover;
}

.purple-highlight {
  background-color: var(--clr-4);
  color: white; 
  padding: 2px 4px; 
  border-radius: 3px; 
}

* {
  box-sizing: border-box;
}

.card {
  width: 95%;
  padding: 20px;
  margin: 3%;
    flex-grow: 1;
    border-radius: 17px;
    box-shadow:  8px 8px;
    border: 1px solid black;
    background-color: white;
    margin-bottom: 15%;
}

.card img {
  margin: 0;
  top: 0;
  width: 100%;
  border-radius: 15px;
  border: 1px solid black;
}

.card2 {
  width: 95%;
  padding: 20px;
  margin: 3%;
    flex-grow: 1;
    background-color: white;
    margin-bottom: 15%;
}

.card2 img {
  margin: 0;
  top: 0;
  width: 100%;
  border-radius: 15px;
  box-shadow:  8px 8px;
  border: 1px solid black;
}

/* Float 3 columns side by side */
.card-column {
  float: left;
  width: 33.3%;
  padding: 0 5px;
}

.member-table{
    width: 28%;
    margin: 1.5%;
float: left;
 display: table-column;
}

.eboard-section {
  position: relative;
  background-color: #fdc40b;
  padding: 1% 8% 6% 12%;
  left: 0;
  right: 0;
  width: 100vw;
  float: left;
}

.eboard-section h2 {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  margin-left: -3%;
}

.board-section {
  position: relative;
  padding: 1% 10% 3% 10%;
  left: 0;
  right: 0;
  width: 100vw;
  float: left;
}
  
.board-section h2 {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}

.bullet-point, .bullet-point2 {
  display: inline-flex;
  align-items: top;
  gap: 5px; 
  margin-bottom: 15px;
  }

.bullet-point img, .bullet-point2 img{
  max-width: 16px;  /* Fixed size */
  max-height: 16px; /* Fixed size */
  margin-right: 5px; /* Slight margin to ensure proper spacing */
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.bullet-point3 img {
  max-width: 30px;  /* Fixed size */
  max-height: 30px; /* Fixed size */
  margin-right: 5px; /* Slight margin to ensure proper spacing */
  margin-bottom: 3%;
  margin-top: 2%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.bullet-point p, .bullet-point2 p {
  margin: 0;
  font-size: 15px;
}


.highlight {
  background-color: var(--clr-3);
  padding: 0 5px; 
  display: inline-block; 
}

.who-we-are-wrapper {
background: linear-gradient(to bottom,
 transparent 35%, 
 var(--clr-4) 35%); /* Gradient background */
padding: 20px;
}

.who-we-are {
  background-color: #f9f9f9;
  padding: 30px;
  padding-top: 50px;
  margin: 5% 12%;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
}

.section {
  left: 0;
  right: 0;
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-content {
  text-align: left;
  margin-right: 5%;
  width: 50%;

}

.section-content,
.section-img {
    flex: 1;
    min-width: 300px;
    margin: 10px;
  }

  .section-img {
    text-align: center;
  }
  
  .section img {
    max-width: 70%;
    height: auto;
    margin: 20px 0;
    /* Adjusted for better fit */
  }

.who-we-are h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
}

.who-we-are p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: left;
}

.contact-codeed-logo {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-start; /* This moves the logo up */
}

.contact-codeed-logo img {
  top: 3%;
  width: 30%;  
  display: block;
  height: auto;
  margin-top: -370px;
  margin-right: 60px;
}

.contact {
  position: relative;
  background-color: #151515;
  display: flex;
color: white;
padding: 25px;
text-align: center;
}

.contact-icons {
  display: block;
right:0;
gap: 10px;
margin-top: auto;
}

.contact-icons img {
  bottom: 30px;
  right: inherit;
  height: 30px;
}